!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css
		link( rel="stylesheet", type="text/css", media="screen", href="assets/css/style.css")

		//Other Javascript
		script( src="assets/scripts.js", type"text/javascript")


		//RSS TODO

	body.home
		header
			.logo logo here
		nav
			a link 1 2
			a link 2
			a link 3
		.content
			section section content 1
			section section content 2

		footer
			p copyright here
