header.nav
	.inner
		a.logo(href='/' title='Logo') Logo
		.expander ☰
		.items.open
			a.item(href='link2.html' title='Item 2') Item 1
			a.item(href='link1.html' title='Item 2') Item 2
			a.item(href='link3.html' title='Item 3') Item 3
