doctype html
html(lange="en")
	include head

	body.home
    #App
			include header

			article.page
				header
					block page-header

				section.contents
					block page-content

			include footer


		include scripts
